*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.header-1{
    height: 900px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.541);
    background-repeat: no-repeat;
    background-size: cover;
}
.header-12{
    height: 900px;
    width: 100%;
    background-image: url(/img/wallpaper-inicio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    height: 30px;
    max-width: 1200px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 30px;
    margin-left: 20px;
}
.bar-btn{
    font-size: 25px;
    color: white;
    margin-right: 20px;
    cursor: pointer;
}
.nav-menu{
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background: rgba(60, 60, 60, 0.95);
    text-align: center ;
    transition: all 0.5s;
}
.nav-menu li{
    display: none;
    line-height: 30px;
    margin: 0px 0;
    transition: all 0.5s;
}
.nav-menu li a{
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}
.active{
    text-decoration: none;
}
.active:hover{
    text-decoration: none;
    color: #dfaeff;
}

#check{
    display: none;
}
#check:checked ~ .nav-menu{
    height: 100vh;
}
#check:checked ~ .nav-menu li{
    display: block;
}
.banner-text{
    padding-top: 10px;
    text-align: center;
}
.banner-text h1{
    color: white;
    text-shadow: 5px 10px 10px rgba(0, 0, 0, 0.521);
    font-size: 40px;
    text-transform: uppercase;
}
.banner-text p{
    color: white;
    font-size: 20px;
    padding: 30px;
}
.btn-a{
    text-decoration: none;
    display: inline-block;
    background-color: #6e00cf;
    margin-top: 14px;
    padding: 15px 30px;
    color: white;
    text-transform: uppercase;
    border-radius: 25px;
}
.btn-b{
    text-decoration: none;
    display: inline-block;
    background-color: #6e00cf;
    margin-top: 14px;
    padding: 15px 30px;
    color: white;
    text-transform: uppercase;
    border-radius: 25px;
}
.btn-a:hover{
    transition: all 0.5s;
    background-color: rgb(82, 0, 158);
}
.btn-b:hover{
    transition: all 0.5s;
    background-color: rgb(82, 0, 158);
}
.img-p{
    margin-right: 50px;
    height: 60vh;
    border-radius: 20px;
    box-shadow: 0px 5px 20px black;
}
.img-g{
    height: 60vh;
    border-radius: 20px;
    box-shadow: 0px 5px 20px black;
}

@media (min-width:768px){
    .logo{
        margin-left: 0;
    }
    header{
        height: 100vh;
    }
    nav{
        height: 100px;
        margin: 0 auto;
    }
    .bar-btn{
        display: none;
    }
    .nav-menu{
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 50px;
    }
    .nav-menu li{
        display: inline-block;
        line-height: 100px;
        margin: 0 20px;
        transition: none;
    }
    .nav-menu li a{
        font-size: 18px;
    }
    .container{
        max-width: 1200px;
        margin: 0 auto;
    }
    .banner-text{
        padding-top: 200px;
    }
    .banner-text h1{
        font-size: 55px;
    }
    .banner-text p{
        padding: 30px 200px;
    }
}

