

div{


}

.img1{

    
    height: 300px;
    width: 300px;
    margin-top: 100px;
    
}
.img2{
    float:unset;
    height: 300px; 
    width: 300px;
    margin-left: 210px;

}
.img3{
    float: right;
    height: 300px;
    width: 300px;    
    margin-top: 99px   ;
    
}

body{


    background-color: rgba(0, 255, 255, 0.336);
}